/* タイトル部分のスタイル */
.title-style {
  font-family: "Montserrat", "Noto Sans JP";
  color: #2b5c41;
  font-weight: 700;
  margin: 0.5rem auto 1rem auto;
}
.title-style:before {
  content: "🍍";
}
.blog-top-image{
  text-align: center;
  margin: 0 4px;
}
.blog-top-image-img{
  border-radius: 2rem;
}
.blog-link{
  text-decoration: none;
  color: #2b5c41;
}
.blog-list-border{
  margin: 2rem 5%;
  border: solid 3px;
  border-color: #FEB435;
/*  border-radius: 0.5rem; */
  background-color: whitesmoke;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
	transition: .3s;
}
.blog-list-border:hover{
  background-color: white;
  box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
	transform: translateX(-5px) translateY(-5px);
  text-decoration: underline dotted #FEB435;
}

.blog-link-text{
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 1rem;
}
.blog-link-text:before{
  content : "🍉";
}
.blog-date-text{
  font-size: 0.9rem;
  padding: 0rem 3rem;
  color: #444
}
.blog-summary-text{
  padding: 0rem 7%;
  color: #444;
}
