/* mdxを変換した部分のみにstyleを適用するため、":not([class])"を付ける
https://gotohayato.com/content/451/#:~:text=%E3%82%84%E3%82%8A%E6%96%B9-,CSS%20%E3%81%A7%E3%82%AF%E3%83%A9%E3%82%B9%E6%8C%87%E5%AE%9A%E3%81%AE%E7%84%A1%E3%81%84%E8%A6%81%E7%B4%A0%E3%81%AB%E3%81%AE%E3%81%BF%E3%82%B9%E3%82%BF%E3%82%A4%E3%83%AB,%E3%82%92%E4%BD%BF%E3%81%88%E3%81%B0%20OK%20%E3%81%A7%E3%81%99%E3%80%82

*/
.blog-title {
  color: #2b5c41;
  font-size: 2rem;
  font-weight: 700;
}
.blog-title:before {
  content: "🍉";
}
.top-image {
  text-align: center;
  margin-bottom: 1rem;
  /* position: relative; 写真と重ねるときに使う */
}
.top-date {
  padding-left: 7%;
  margin-top: 0rem;
  /* position: absolute;/* 写真と重ねるときに使う
  top: 0rem;
  left: 16%;
  border-radius: 0.15rem;
  background-color: antiquewhite;
  */
}
h1:not([class]) {
  display: none;
  padding: 0rem 0rem;
  font-size: 0.2rem 2rem;
  color: #2b5c41;
}
h2:not([class]) {
  margin: 2.5rem auto 0.8rem auto;
  color: #2b5c41;
}
h2:not([class]):before {
  content: "🌴";
}
h3:not([class]) {
  margin: 2.5rem auto 0.8rem 0.5rem;
  color: #2b5c41;
}
h3:not([class]):before {
  content: "🌴";
}
h4:not([class]) {
  margin: 2.5rem auto 0.8rem 1rem;
  color: #2b5c41;
}
h4:not([class]):before {
  content: "🌴";
}
h5:not([class]) {
  margin: 2.5rem auto 0.8rem 1.5rem;
  color: #2b5c41;
}
h5:not([class]):before {
  content: "🌴";
}
h6:not([class]) {
  margin: 2.5rem auto 0.8rem 1rem;
  color: #2b5c41;
}
h6:not([class]):before {
  content: "🌴";
}
p:not([class]) {
  margin: 1rem;
  padding: 0rem 0.5rem;
  color: #111111
}
a:not([class]):hover{
  color: #FEB435;
}
/* :not([class])をつけると属性のあるcssには影響しない */
a:not([class]):after{
  content: " "url(../../images/external_link_16px.png);;
}

/* リストはここを参照
https://saruwakakun.com/html-css/reference/ul-ol-li-design
*/
ul:not([class]),ol:not([class]) {
/*  border: solid 2px #ffb03f; */
  padding: 0em 1em 0em 2.3em;
  position: relative;
  list-style: none;
}

ul li:not([class]),ol li:not([class]) {
  line-height: 1.5;
  padding: 0em 0.5em;
}

ul li:not([class]):before , ol li:not([class]):before {
  content: "🍊";
  position: absolute;
  left : 1em; 
}

/* tableのデコレーションはここを参照
https://webliker.info/75964/
*/
table:not([class]) {
  width: 90%;
  margin: 0rem 5% 2rem 5%;
  border-collapse:collapse;
  border-spacing: 0;
  border: 1px solid #dcdcdc;
}
table th:not([class]){
  border: 1px solid #dcdcdc;
  background-color: #a3d6cc;
  padding: 0.5rem 0.5rem;
}
table td:not([class]){
  padding: 0.5rem;
  border: 1px solid #dcdcdc;
}
table tr:not([class]):nth-child(odd){
  padding: 0.5rem;
}
table tr:not([class]):nth-child(even){
  padding: 0.5rem;
  background-color: #eee;
}
